body {
}
.input-text {
	height: 30px;
	width: 200px;
}

td {
	padding-top: 20px;
	border: 1px solid black;
}

label {
	padding-right: 20px;
	float:left;
}

.button-control {
	background-color: #2471A3;
	color: white;
	font-weight: bold;
	width: 80px;
	height: 30px;
}

.error {
	font-weight: bold;
	color: red;
}
.date {
	text-align: center;
	padding: 15px;
	font-weight: bold;
	color:white;
}
td.date:hover {
	background-color: #E0FFFF;
	color: red;
}
.calendar {
	margin: auto;
	width: 200px;
	height: 26px;
}
.date_name {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: #f2f2f2;
}

.t_calendar {
	margin-top: 2px;
	background-color: blue;
	width: 300px;
	height: 300px;
}